@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-dark:#000000;
    --cor-light:#ffffff;
    --cor01: #17C3B2;
    --cor02: #188BC9;
    --cor03: #285AAB;
    --cor03-1: #1E4480;
    --cor04: #DE7F02;
    --cor05: #222725;
    --cor06: #ECECEC;
    --fonte01: 'Noto Sans Display', sans-serif;
    --fonte02: 'Source Sans Pro', sans-serif;
}
html body{
    font-family: var(--fonte01);
    background-color: var(--cor06);
}
.destaque{
    color: var(--cor04);
}
/*--------------------------Espaço Extra start--------------------------*/
.espaco-heigth{
    height: 90vh;
    background-color: var(--cor03);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
}
/*--------------------------Espaço Extra end--------------------------*/
/*--------------------------Espaço Extra start--------------------------*/
.espaco-heigth-claro{
    height: 90vh;
    background-color: var(--cor06);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
}
/*--------------------------Espaço Extra end--------------------------*/
header{
    padding: 0 20px;
    min-height: 100px;
    background-color: var(--cor03);
}
header > img{
    width: 200px;
}
.banner{
    background-image: linear-gradient(90deg, var(--cor03-1), var(--cor03));
}
.banner img{
    width: 100%;
    margin-bottom: -5px;
}
.selos{
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.selos-bloco{
    padding: 10px 20px;
    text-align: center;
    color: var(--cor03-1);
}
.selos-bloco :nth-child(2){
    font-size: 18px;
    font-weight: bold;
}
.selos-bloco :nth-child(4){
    font-size: 13px;
}
#material-icons{
    font-size: 60px;
    color: var(--cor03);
}
.frase01{
    min-height: 100px;
    text-align: center;
    padding: 20px;
    padding-bottom: 40px;
    width: 60%;
    font-size: 32px;
    margin: auto;
    color: var(--cor03-1);
    font-weight: 600;
}
.banner02 > .text01-banner{
    color: var(--cor03-1);
    font-size: 32px;
}
.banner02{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../imagens/banner02-2.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}
.banner02 img{
    height: 300px;
}





footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor05);
    min-height: 250px;
    color: var(--cor-light);
}
.pay{
    padding: 20px;
    text-align: center;
}
.pay p{
    padding-bottom: 10px;
    font-size: 24px;
}
.pay img{
    height: 50px;
    border-radius: 5px;
}
.informacao{
    padding: 20px;
    text-align: center;
}